body {
	background-image: url("containerbg.jpg");
}

header{
	padding: 20px;
	color: white;
	background-color: black;
}

p {
	color: white;
	size: 20px;
}

li {
	list-style-type: none;
	font-size: 20px;
	color: green;
}
li:hover{
	cursor: pointer;
}


h1, h2, li {
	color: white;
}

#question1 {
	display: none;
}

a {
	text-decoration: none;
}

#question2 {
	display: none;
}

#question3 {
	display:none;
}

#question4 {
	display: none;
}

#question5 {
	display:none;
}
#question6 {
	display: none;
}

#question7 {
	display:none;
}
#question8 {
	display: none;
}

#question9 {
	display:none;
}

#question10 {
	display: none;
}

#analysis {
	display: none;
}

div#appear1 {
	display: none;
}
div#appear2 {
	display: none;
}

header {
	position: relative;
	background-image: url(https://cdn.pixabay.com/photo/2016/09/16/00/17/movie-1673024_1280.jpg);
	padding: 40px;
	border-bottom: 5px solid black;
	text-align: center;
	font-size: 20px;
	color: white;
	font-family: 'Archivo Black', sans-serif;

}


.container{
	text-align: center;
	
}

button#buttonGone{
	margin-top: 10px;

}

#minutes , #seconds , #semi {
	color: white;
	font-size: 20px;
}